/*Estilo propio añadido a Bootstrap*/
body {
 font-family: 'Open Sans', sans-serif;
}
.cuerpo1 {
    text-align:center;
}
.jumbo1 {
    background-color: #8d1948;
    padding-bottom: 0px;
    padding-top: 5px;
    margin-bottom: 0px;
}
.exodog {
    background-image: url('../img/exodinfondo.png');
    background-position: bottom right;
    background-repeat:no-repeat;
    background-size: 12%;
}
.jumbo2 {
    background-color: #515151;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.logosiniciales {
}
.logoexodo {
}
.logonode {
    max-width: 100px;
    margin-top: -35px;
    margin-left: 53%;
}
.letradescripcion {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}
.encabezadoh3 {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight:800;
    text-shadow: 1px 1px 2px #0E0E0E;
}
.img-center {
    margin: 0 auto;
}
.img-impact {
    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.75);
}
.nomargin {
    margin:0 !important;
}
.jumbo5 {
    max-height:350px;
}
.plataformasimg {
    max-width:800px;
}